<form action="/savechanges/<%=aRecipe[0]._id%>?_method=PUT" method="post" enctype="multipart/form-data">
  <div class="row">
    <div class="pic col-11 col-md-3 m-1 p-2 text-center">
      <img
        src="/uploads/<%=aRecipe[0].image%>"
        alt="recipe-img"
        class="img-fluid sticky-top"
      />
      <div class="changePic sticky-top">
       <div class="btn btn-dark m-1">Change The Picture</div>  
       <input type="file" class="btn btn-dark img-fluid form-control" accept="image/*" name="changedImage"/>
    </div>
    </div>

    <div class="col-12 col-md-7">

      <div class="name m-3">
        <label for="recipe-name"><h4> Recipe Name:</h4></label>
        <input type="text" value="<%=aRecipe[0].name%>" class="form-control" name="recipeName"/>
      </div>

      <div class="description m-3">
       <label for="description" class="fw-bold fs-4"><h4>Cooking Instructions:</h4></label>
       <textarea class="form-control" name="description"><%=aRecipe[0].description%></textarea>
      </div>

      <div class="ingredients m-3">
        <label for="ingredients" class="fw-bold fs-4"><h4>ingredients:</h4></label>
          <ul class="list-group list-group-flush ingredients-item list">
            <% for(let i=0; i<aRecipe[0].ingredients.length;i++){ %>
                <li class="list-group-item px-0 oneItem">
                    <input type="text" name="ingredients" class="form-control" id="input" value="<%=aRecipe[0].ingredients[i]%>"/>
                </li>
            <% } %> 
            </ul>
      </div>
       
        <input type="button" class="btn btn-dark m-3 mt-0" value="+add ingredients" id="button" style="width: 200px;">

      <div class="category mb-5 m-3">
          <label for="category" class="fw-bold fs-4"><h4>category:</h4></label>
          <select name="category" id="category" class="form-control form-select">
              <% for(let i=0; i<categories.length; i++){%>
                  <option selected><%=aRecipe[0].categoryName%></option>
                  <option><%=categories[i]%></option>
              <% } %>
          </select>
      </div>
      <button class="editbutton btn btn-dark btn-lg m-3">Save Changes</button>
    </div>
  </div>


</form>
<script>
  let list=document.getElementsByClassName("list")[0];
  let oneItem=document.getElementsByClassName("oneItem")[0];

  let button=document.getElementById("button")
  button.onclick=function(){
  let newItem=oneItem.cloneNode(true);
  let input=newItem.getElementsByTagName("input")[0];
  input.value="";
  list.appendChild(newItem)

  }
  
</script>